<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
</head>
<body>

<h2>Worker status</h2>

{% if last_task %}
    <b>State:</b> {{ last_task.state }}<br>
    <b>Succeeded:</b> {{ last_task.succeeded|get_datetime if last_task.succeeded else 'in progress' }}<br>
    <b>Result:</b> {{ last_task.result or 'in progress' }}<br>
    <b>Next start:</b> {{ (last_task.received + dump_interval)|get_datetime if last_task.received else 'in progress'  }}
{% else %}
    unknown status <br>
{% endif %}

<h2>Statistic</h2>

{% if not statistic %}
    нет данных
{% else %}

    <table>

        <thead>
        <tr>
            <th>hash log</th>
            <th>count</th>
        </tr>
        </thead>

        <tbody>
        {% for log in statistic %}
            <tr>
                <td>{{ log.0 }}</td>
                <td>{{ log.1 }}</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

{% endif %}

</body>
</html>
